body {
    font-family: poppins;
    margin: 0;
    padding-top: 0.1px;
    color: black;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 66px auto;
    padding: 20px;
}
main {
    flex: 3;
}

.main {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    padding: 0;
}
aside {
    flex: 1;
    background-color: rgba(21, 43, 35, 0.5);
    color: rgb(255, 255, 255);
    padding: 15px 40px 15px 40px;
    margin-right: 20px;
    border-radius: 20px;
}
section {
    margin-bottom: 20px;
    padding:80px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fafafa;
}



section a {
    color: green;
    text-decoration: none;
}

.top-level-ul li a:hover {
    color: green;
}

.ref li{
    list-style: none;
    padding-bottom: 9px;
}

.student {
    margin-top: 62px;
    margin-bottom: 20px;
   
}

aside a{
    text-decoration : none;
}

aside li{
    padding-bottom: 10px;
    list-style: none;
}

.student-list li a {
    text-decoration: none;
}

.student-list li a:hover {
    color: green;
}

a {
    color: white;
}

.stud {
    text-align: center;
    line-height: 0;
    background-color: rgb(24, 70, 43);
    color: white;
    margin: 65px 0px 20px 0px;
    border: 0;
    border-radius: 0px;
}

.top {
    position: fixed;
    bottom: 5%;
    right: 5%;
}
        
.top a {
    padding: 10px 20px; /* Adds padding for button-like feel */
    background-color: green; /* Button color */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline */
    border-radius: 20px; /* Rounds the corners */
    font-size: 12px; /* Adjust font size */
    font-weight: bold; /* Make the text stand out */
    transform: scale(1);
}

.top:hover {
    transform: scale(1.1);
}

img{
    width: 90%;
}

.img-feedback{
    height: auto;
    width: 100%;
}
